<div>
  <div id="icones">
    <a
      href="https://twitter.com/"
      target="_blank"
      rel="noopener noreferrer"
      content="twitter"
    >
      <i class="social-icon fab fa-twitter"></i>
    </a>
    <a
      href="https://www.facebook.com/"
      target="_blank"
      rel="noopener noreferrer"
      content="facebook"
    >
      <i class="social-icon fab fa-facebook-f"></i>
    </a>
    <a
      href="https://www.instagram.com/"
      target="_blank"
      rel="noopener noreferrer"
      content="instagram"
    >
      <i class="social-icon fab fa-instagram"></i>
    </a>
    <a
      href="https://en.wikipedia.org/wiki/Email"
      target="_blank"
      rel="noopener noreferrer"
      content="email"
    >
      <i class="social-icon fas fa-envelope"></i>
    </a>
  </div>
  <ul>
    <li>© Copyright 2021 GetJob</li>
  </ul>
</div>
